h2{
 text-align: center;
}

.calendar {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

td:hover { 
    background-color: #B0E0E6;
    cursor:pointer;
}
Try it Yourself »

.days {
    text-align: center;
}

.active {
    padding: 2px;
    border-style: solid;
    border-width: 1px;
    color: blue;
}

.fade {
  color: #bcbcbc;
}